<template name="posts_list">
  <!--<div class="jumbotron">-->
      <!--<div class="container">-->
          <!--<h1>Hello, world!</h1>-->
          <!--<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>-->
          <!--<p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p>-->
      <!--</div>-->
  <!--</div>-->
  <section class="jumbotron customtron">
    <div class="container text-center claim_container">
        <h2 class="h2">Share data-driven projects<br/> for social good</h2>
        <a class="btn btn-primary btn-lg btn_post font-text-post" href="/submit" role="button">{{i18n "Post a Project!"}}</a>
        <p class="font-text-claim claim">Learn more on how to work with our database and become a partner.<br/> No matter if you are from press, organization or private. Share it, love it, use it!</p>
    </div>
  </section>
<!--<section class="nav hidden-xs" role="navigation">-->
    <!--<div class="container text-left">-->
        <!--<ul class="nav navbar-nav navbar-left">-->
            <!--<li class="active"><a href="#">Top</a></li>-->
            <!--<li><a href="#">New</a></li>-->
            <!--<li><a href="#">Best</a></li>-->
            <!--<li><a href="#">Diggest</a></li>-->
        <!--</ul>-->
        <!--<ul class="nav navbar-nav navbar-right">-->
            <!--<li class="dropdown">-->
                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
                    <!--Categories <span class="caret"></span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu" role="menu">-->
                    <!--<li><a href="#">Category 1</a></li>-->
                    <!--<li><a href="#">Category 2</a></li>-->
                    <!--<li><a href="#">Category 3</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>&lt;!&ndash; /.container &ndash;&gt;-->
<!--</section>-->
<section role="content">
    <div class="container post-container">
        {{#each posts}}
            {{> UI.dynamic template=post_item}}
        {{/each}}
    </div>
    {{#if hasMorePosts}}
      <div class="more-button module">
        <a href="{{loadMoreUrl}}">{{i18n "Load more"}}</a>
      </div>
    {{/if}}
</section>
</template>